.habits-card {
  text-align: left;
  /* position: relative; */
  background: rgb(227, 226, 226);
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  width: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.08);
}

.habits-card h4 {
  margin: 0 0 10px 0;
  font-size: 1.3em;
  color: rgb(14, 103, 90);
}

.habits-card p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.habits-card .delete-button {
  /* position: absolute; */
  top: 16px;
  right: 16px;
}
.habits-card .edit-button {
  /* position: absolute; */
  top: 48px;
  right: 16px;
}
